* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
* {
  opacity: 1;

  stroke: white;
  stroke-opacity: 0.5;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: butt;

  fill: white;
  fill-opacity: 0;
  fill-rule: nonzero;

  transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
  transition-duration: 0.5s;
}


.bg {
  width: 100vw;
  height: 100vh;
  stroke: none;
  fill: black;
}

text {
  x: 0;
  y: 0;

  opacity: 0;

  stroke: none;
  fill: #ffcc66;
  fill-opacity: 1.0000;

  font-size: 1em;
}

path {
  // vector-effect: non-scaling-stroke;
  transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
  transition-duration: 1s;
}

.select {
  stroke-opacity: 1;
  fill-opacity: 0.7;

  path {
    fill-opacity: 0.2;
    transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
    transition-duration: 1s;
  }
}

.fade {
  path {
    stroke-opacity: 0.2;
    transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
    transition-duration: 1s;
  }
}

.point {
  transform: translate(-5px,0);
  transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
  transition-duration: 0.25s;

  circle {
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 3;
    fill: white;
    fill-opacity: 1;
    /* vector-effect: non-scaling-stroke; */
    r: 3;
  }

  &.highlight .bottom {
    stroke: #FFF;
    stroke-width: 20;
    stroke-opacity: 0.2;
    /* r: 20; */
  }

  &.golden .bottom {
    stroke: #C90;
    stroke-width: 15;
    stroke-opacity: 1;
    /* r: 20; */
  }

  &.select .bottom {
    stroke: #69F;
    stroke-width: 10;
    stroke-opacity: 0.8;
    /* r: 20; */
  }
}

.line {
  transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
  transition-duration: 1s;

  &.fade {
    path {
      stroke-opacity: 0.2;
      transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
      transition-duration: 1s;
    }
  }

  &.select {
    stroke-opacity: 1;
    fill-opacity: 0.7;

    path {
      fill-opacity: 0.2;
      transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
      transition-duration: 1s;
    }
  }
}

.circle {
  fill-opacity: 0;

  &.fade {
    path {
      stroke-opacity: 0.2;
      transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
      transition-duration: 1s;
    }
  }

  .select {
    stroke-opacity: 1;
    fill-opacity: 0.7;

    path {
      fill-opacity: 0.2;
      transition-property: opacity, stroke-width, stroke-opacity, fill-opacity;
      transition-duration: 1s;
    }
  }
}

.polygon {
  path {
    stroke-width: 0;
    fill: #CCF;
    fill-opacity: 0.2;
  }
}

.bisector {
  stroke-dasharray: 13, 5, 3, 5;
}

.segment path {
  stroke: #C90;
  stroke-width: 5;
  stroke-opacity: 1;
}

.a path {
  stroke-width: 3;
}

.b path {
  stroke-width: 5;
}

[class~="a+b"] path {
  stroke-width: 8;
}

[class~="a+2b"] path {
  stroke-width: 13;
}

.golden {
  stroke: #C90;
  stroke-opacity: 1;
}

.golden path {
  // stroke: #FC0;
  // stroke-opacity: 0.8;
}

.golden text {
  opacity: 0.8;
  display: none;
}

.s-ff6699 path {
  stroke: #ff6699;
  fill: #ff6699;
}

.s-66ccff path {
  stroke: #66ccff;
  fill: #66ccff;
}

.s-cc66ff path {
  stroke: #cc66ff;
  fill: #cc66ff;
}

.s-99ff00 path {
  stroke: #99ff00;
  fill: #99ff00;
}

.s-33ffcc path {
  stroke: #33ffcc;
  fill: #33ffcc;
}

.s-ffff66 path {
  stroke: #ffff66;
  fill: #ffff66;
}

.s-66ff00 path {
  stroke: #66ff00;
  fill: #66ff00;
}

.s-ffffff path {
  stroke: #ffffff;
  fill: #ffffff;
}
