// default

$default-color: white;
$default-text-color: white;
$default-bg-color: black;

$default-stroke-width: 5;

$segment_factor: 2.5;

$point-radius: 7;
$point-top-stroke-width: 5;
$point-bottom-stroke-width: 15;


$s-ff6699: #ff6699;
$s-66ccff: #66ccff;
$s-cc66ff: #cc66ff;
$s-99ff00: #99ff00;
$s-33ffcc: #33ffcc;
$s-ffff66: #ffff66;
$s-66ff00: #66ff00;
$s-ffffff: #ffffff;
$s-c0c0c0: #c0c0c0;

$gold-color: #C90;

@import 'constructions/index';
