//white only

$default-color: black;
$default-text-color: black;
$default-bg-color: white;

$default-stroke-width: 7;

$segment_factor: 2;

$point-radius: 7;
$point-top-stroke-width: 5;
$point-bottom-stroke-width: 15;

$s-ff6699: black;
$s-66ccff: black;
$s-cc66ff: black;
$s-99ff00: black;
$s-33ffcc: black;
$s-ffff66: black;
$s-66ff00: black;
$s-ffffff: black;
$s-c0c0c0: black;

$gold-color: black;


@import 'constructions/index';
