* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

}
body,
h1,
h2,
h3,
p {
  font-family: "Helvetica";
  margin: 0;
  color: #999;
}

body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100vw;
  height: 100vh;
}

#menu {
  position: fixed;
  font-size: 1em;
  padding: 0.5em;
  color: #CCC;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.2em;
  margin: 0.2em;
  box-sizing: border-box;

  button {
    height: 1.5em;
    padding: 0.2em;
    margin: 0 0.2em ;
  }
}


#time {
  width: 3em;
  text-align: center;
}

#beats {
  display: flex;
  flex-flow: row nowrap;
}

#beats div {
  border: #888 1px solid;
  padding: 0.2em;
  margin: 0.2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: #888;
}

#beats .select {
  background: none;
  color: white;
  border: white 1px solid;
}

#beats div:first-child.select {
  background: white;
  color: black;
  border: white 1px solid;
}

#progress {
  padding: 0.2em;
  margin: 0.2em;
  width: 300px;
}

label {
  padding: 0.2em;
  margin: 0.2em;
}
