
.s-ff6699 path {
  stroke: $s-ff6699;
  fill: $s-ff6699;
}

.s-66ccff path {
  stroke: $s-66ccff;
  fill: $s-66ccff;
}

.s-cc66ff path {
  stroke: $s-cc66ff;
  fill: $s-cc66ff;
}

.s-99ff00 path {
  stroke: $s-99ff00;
  fill: $s-99ff00;
}

.s-33ffcc path {
  stroke: $s-33ffcc;
  fill: $s-33ffcc;
}

.s-ffff66 path {
  stroke: $s-ffff66;
  fill: $s-ffff66;
}

.s-66ff00 path {
  stroke: $s-66ff00;
  fill: $s-66ff00;
}

.s-ffffff path {
  stroke: $s-ffffff;
  fill: $s-ffffff;
}

.s-c0c0c0 path {
  stroke: $s-c0c0c0;
  fill: $s-c0c0c0;
  /* stroke-dasharray: 5, 2, 3, 2; */
}
