
.a path {
  stroke-width: 3 * $segment_factor;
}

.b path {
  stroke-width: 5 * $segment_factor;
}

[class~="a+b"] path {
  stroke-width: 8 * $segment_factor;
}

[class~="a+2b"] path {
  stroke-width: 13 * $segment_factor;
}

.golden {
  stroke: $gold-color;
  stroke-opacity: 1;
}

.golden path {
  // stroke: #FC0;
  // stroke-opacity: 0.8;
}

.golden text {
  opacity: 0.8;
  display: none;
}
